@charset "UTF-8";
/*
*/
*{
    padding: 0;
    margin: 0;
}
body{
    background: #eee;
    color: #333
}
body > div, input, select, textarea, button{
    font-family: "メイリオ"
}
div#pagebody{
    margin: 0 auto;
    border: solid #333;
    border-width: 0 1px;
    max-width: 1240px;
    padding: 20px 10px;
    background: #fff;
}
div#main{
    border: 1px solid #333;
    border-radius: 2px;
    background-color: #ffbbbb;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);

}

div#main::after{
    content: "";
    display: block;
    clear: both;
}
div#header{
    text-align: center;
    color: #333
}

div#textarea{
    float: right;
    width: 70%;
}
div#cardarea{
    width: 30%;
    float: left;
}
#tab li {
    border-radius: 4px 4px 0 0;
    border-style:solid;
    border-width: 1px 1px 0 1px;
    display: inline;
    list-style-type: none;
    margin: 3px 0 0 15px;
    padding: 1px 7px;
}
li.selected{
    background: #fff
}
#tab1{
    background-color: #ffbbbb}
#tab2{
    background-color: #bbffbb
}
#tab3{
    background-color: #bbbbff
}
dd{
    margin: 5px 0 0 20px;
}
dd>label{
    display: inline-block;
    vertical-align: top;
}

dt{
    margin: 15px 0 0;
    padding: 5px;
}

textarea{
    width: 325px;
    height: 80px;
    border: 1px solid #777;
    margin-top: 5px;
}
#typePicker{
    position: absolute;

}
input {
    padding: 4px;
    border: 1px solid #777;
}
input.string {
    width: 265px;
}
input.number{
    width: 37px;
}
select {
    padding: 3px 8px 3px 3px;
    border: 1px solid #777;
}
button#make{
    width: 280px;
    height: 80px;
    margin: 0 20px;
}
img#cardimg{
    margin: 10px;
}

img#cardback{
    margin: 10px;
    position: absolute;
    z-index: -1;
}

td{
    		padding: 0 5px 4px 6px;
}
.typeSelector{
    position: relative;
    display: inline-block;
    padding: 1px 17px 3px 5px;
    width: 27px;
    border: solid 1px #777777;
    background-color: #fff;
}
.typeSelector.active,
.typeSelector:focus {
 
} 
.hidden{
    position: absolute;
    left: -1000px;
}
.typeSelector .optList.hidden {
    max-height: 0;
    visibility: hidden;
}

.typeSelector .value {
    display: inline-block;

}

.typeSelector::after {
     content : "▼";
     position: absolute;
     background-color: #f0f0f0;
     background: linear-gradient(180deg, #f0f0f0, #dadada);
     color: #000;
     border: solid 1px #707070;
     margin-left: 5px;
     top:0;
     height: 26px;
  
}
.typeSelector .optList {
    position : absolute;
    top: 100%;
    left : 0;
    list-style: none;
    margin:0;
    padding: 0;
    min-width : 100%;
    box-sizing: border-box;
    border: 1px solid #707070;
    background-color: #fff;
}
.typeSelector .option {
    margin: 0;
    padding: 0;
    border: none;
}
.typeSelector .option:hover {
    background-color: #3393ff;
}
.typeSelector .option::before{
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url('images/type_sprite.png') no-repeat;
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
    margin-left: 4px;
}

.typeSelector .none::before{
    background: transparent;
    display: inline;
    content: "なし";
    bottom: 0;
    
}
.typeSelector .colorless::before{
    background:url('images/type_sprite.png') 0 0;
}
.typeSelector .grass::before{
    background:url('images/type_sprite.png')  0 -21px;
}
.typeSelector .fire::before{
    background:url('images/type_sprite.png')  0 -42px;
}
.typeSelector .water::before{
    background:url('images/type_sprite.png')  0 -63px;
}
.typeSelector .lightning::before{
    background:url('images/type_sprite.png')  0 -84px;
}
.typeSelector .phychic::before{
    background:url('images/type_sprite.png')  0 -105px;
}
.typeSelector .fighting::before{
    background:url('images/type_sprite.png')  0 -126px;
}
.typeSelector .darkness::before{
    background:url('images/type_sprite.png')  0 -147px;
}
.typeSelector .metal::before{
    background:url('images/type_sprite.png')  0 -168px;
}
.typeSelector .value::before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
}
#typePicker table {
	background: #f7f7f7;
}
#typePicker td{
	padding: 0 5px 4px 6px;
	vertical-align: top;
}
#typePicker{
	width: 274px;
	border: solid 2px #777777;
}
#typePicker .value{
	border-bottom: solid 2px #777777;
	background-color: #f7f7f7;
	width: 100%;
    height: 36px;
	padding: 5px;
	box-sizing: border-box;
}

#typePicker .button::after{
	content:"";
	display: inline-block;
	width: 55px;
	height: 45px;
	background-image: url('images/button_sprite.png');
	position: relative;
	vertical-align: bottom;
	cursor: pointer;
}
#typePicker .colorless::after{
	background-position: 0 0;
}
#typePicker .grass::after{
	background-position: 0 -45px;
}
#typePicker .fire::after{
	background-position: 0 -90px;
}
#typePicker .water::after{
	background-position: 0 -135px;
}
#typePicker .lightning::after{
	background-position: 0 -180px;
}
#typePicker .phychic::after{
	background-position: 0 -225px;
}
#typePicker .fighting::after{
	background-position: 0 -270px;
}
#typePicker .darkness::after{
	background-position: 0 -315px;
}
#typePicker .metal::after{
	background-position: 0 -360px;
}
#typePicker .colorless:hover:after{
	background-position: 55px 0;
}
#typePicker .grass:hover:after{
	background-position: 55px -45px;
}
#typePicker .fire:hover:after{
	background-position: 55px -90px;
}
#typePicker .water:hover:after{
	background-position: 55px -135px;
}
#typePicker .lightning:hover:after{
	background-position: 55px -180px;
}
#typePicker .phychic:hover:after{
	background-position: 55px -225px;
}
#typePicker .fighting:hover:after{
	background-position: 55px -270px;
}
#typePicker .darkness:hover:after{
	background-position: 55px -315px;
}
#typePicker .metal:hover:after{
	background-position: 55px -360px;
}
#typePicker .value>span::after{
	content: "";
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url('images/type_sprite.png');
	vertical-align: bottom;
	position: relative;
	bottom: 2px;
}
#typePicker .value>span.colorless::after{
	background-position: 0 0;
}
#typePicker .value>span.grass::after{
	background-position: 0 -21px;
}
#typePicker .value>span.fire::after{
	background-position: 0 -42px;
}
#typePicker .value>span.water::after{
	background-position: 0 -63px;
}
#typePicker .value>span.lightning::after{
	background-position: 0 -84px;
}
#typePicker .value>span.phychic::after{
	background-position: 0 -105px;
}
#typePicker .value>span.fighting::after{
	background-position: 0 -126px;
}
#typePicker .value>span.darkness::after{
	background-position: 0 -147px;
}
#typePicker .value>span.metal::after{
	background-position: 0 -168px;
}
@media screen and (max-width: 846px) {
	div#cardarea {
		width:100%;
	}
}